apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-app
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: test-app-ui
  template:
    metadata:
      labels:
        app: test-app-ui
    spec:
      containers:
        - image: nginx
          name: test-app-ui
          ports:
            - containerPort: 80
